.strongfont{
	font-size: 14px;
	font-family: "微软雅黑";
}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}

.bg0{background-color: #F5F5F5;}
.bg1{background-color: #FFFFFF;}