<ion-view>
  <ion-content class="bg0">

      <!-- 轮转图 -->
      <ion-slide-box  auto-play="true" does-continue="true">
        <ion-slide ng-repeat="img in topimgs">
          <div class="box"><img src="{{img.imgurl}}" width="100%" height="180"></div>
        </ion-slide>
      </ion-slide-box>

      <!-- 快捷小图标 -->
      <div class="row strongfont bg1 mt5">
        <button ui-sref="viewlist"
          class="col text-center bg1" style="border:none;">
          <img src="images/cd_03.png" width="90%" ><br>门票
        </button>
        <div class="col text-center"><img src="images/cd_05.png" width="90%" ><br>公益游</div>
        <div class="col text-center"><img src="images/cd_07.png" width="90%" ><br>整点彩票</div>
        <div class="col text-center"><img src="images/cd_09.png" width="90%" ><br>刷刷乐</div>
        <div class="col text-center"><img src="images/cd_11.png" width="90%" ><br>刮幸运</div>
      </div>

      <div class="row" style="height:20px;"></div>

      <!-- 签到，0元送，0元抽 -->
      <div class="row mt10 bg1">
        <div class="col text-center"><img src="images/cd_03x.png" width="90%" height="200"></div>
        <div class="col text-center"><img src="images/cd_03x.png" width="90%" height="200" ></div>
        <div class="col text-center"><img src="images/cd_03x.png" width="90%" height="200" ></div>
      </div>

  </ion-content>
</ion-view>