<div class="bg0">
	<!-- 轮转图 -->
	<ion-slide-box does-continue="true" auto-play="true">
	  <ion-slide ng-repeat="img in topimgs">
	    <div class="box"><img src="{{img.imgurl}}" width="100%" height="180"></div>
	  </ion-slide>
	</ion-slide-box>

	<!-- 快捷小图标 -->
	<div class="row strongfont bg1 mt5">
	  <div class="col text-center"><img src="images/cd_03.png" width="90%" ><br>门票</div>
	  <div class="col text-center"><img src="images/cd_05.png" width="90%" ><br>公益游</div>
	  <div class="col text-center"><img src="images/cd_07.png" width="90%" ><br>整点彩票</div>
	  <div class="col text-center"><img src="images/cd_09.png" width="90%" ><br>刷刷乐</div>
	  <div class="col text-center"><img src="images/cd_11.png" width="90%" ><br>刮幸运</div>
	</div>
	
	<!-- 签到，0元送，0元抽 -->
	<div class="row mt10 bg1">
	  <div class="col"><br>1</div>
	  <div class="col"><br>2</div>
	  <div class="col"><br>3</div>
	</div>

</div>